<!DOCTYPE html>
<html>
<head>
    <title>Oregon Trail</title>
</head>
<body class="wrapper">
<noscript><h1>You browser does not support javascript, this site will not function properly</h1></noscript>
    <div class="container">
      <h1>This Does not Change!</h1>
      <div id="gameContainer">
      
      </div>
      <input type="button" id="prevButton" value="Prev" />
      <input type="button" id="nextButton" value="Next" />
    </div>
    <script type="text/javascript" src="/js/setup.js"></script>
</body>
</html>
